.size-web {
    .cov-unlock {
        padding-top: 35%;

        .img-lock {
            text-align : center;
            padding-top: 30px;

            .imgpass {
                width: 400px;
                margin: 0 auto;
            }

            .img-n {
                display: none;
            }
        }

        .input-pass {
            margin-top: 50px;

            .covbox {
                text-align: center;

                .box-pass {
                    caret-color: #2d3533;
                    font-size         : 46px;
                    border-radius     : 50px;
                    padding           : 20px 50px;
                    height            : 100px;
                    border            : none;
                    background        : #15DE97 0% 0% no-repeat padding-box;
                    color             : #fff;
                    width             : 50%;
                    margin            : 0 auto;
                    font-family       : 'Anuphan';
                    -webkit-box-shadow: 0px 0px 20px 0px rgba(21, 222, 152, 0.75);
                    -moz-box-shadow   : 0px 0px 20px 0px rgba(21, 222, 152, 0.75);
                    box-shadow        : 0px 0px 20px 0px rgba(21, 222, 152, 0.75);


                    &::placeholder {
                        color      : #FFFFFF;
                        font-family: 'Anuphan';
                        font-size  : 46px;
                    }

                    &:focus {
                        // box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

.alert-noti{
    height: 100px;
    width: 400px;
    background: transparent;
    border: solid 2px #25DE97;
    border-radius: 20px;
    .ant-notification-notice-content{
        .ant-notification-notice-with-icon{
            margin-top: 20px;
            .anticon{
                &.anticon-close-circle{
                    font-size: 40px;
                    top: 30px;
                }
            }
            .ant-notification-notice-message{
                font-size: 30px;
                margin-left: 55px;
                color: #fff;
            }
        }
    }
    .ant-notification-notice-close{
        .ant-notification-close-x{
            .anticon-close{
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

.message-alert{
    .ant-message-notice-content{
        background: #ff4d5061;
        border: solid 5px #ff4d50;
        border-radius: 20px;
        padding: 10px 30px;
        width: 500px;
        .ant-message-error{
            .anticon{
                font-size: 40px;
                top: -5px;
            }
            .anticon-close-circle{
                font-size: 40px;
                top: -10px;
            }
            span{
                &:last-child{
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
    }
}