IoT/video_freeze/*
IoT/video/*
frontend/node_modules/*
IoT/scr/image_face_cropped/*
IoT/scr/image_no_crop/*
backend/go/*
frontend/package-lock.json
.DS_Store
.env
*.swp
*.vscode

[core]
packedGitLimit = 128m
packedGitWindowSize = 128m

[pack]
deltaCacheSize = 128m
packSizeLimit = 128m
windowMemory = 128m
