.size-web {
    width   : 1080px;
    height  : 1920px;
    margin  : 0 auto;
    position: relative;


    .stream {
        position: relative;

        @-webkit-keyframes NAME-YOUR-ANIMATION {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes NAME-YOUR-ANIMATION {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-o-keyframes NAME-YOUR-ANIMATION {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes Opacitymate {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .btn-tologin {
            position     : absolute;
            bottom       : 60px;
            right        : 30px;
            z-index      : 5;
            opacity      : 0;

            &.show {
                -webkit-animation: Opacitymate 3s forwards;
                /* Safari 4+ */
                -moz-animation   : Opacitymate 3s forwards;
                /* Fx 5+ */
                -o-animation     : Opacitymate 3s forwards;
                /* Opera 12+ */
                animation        : Opacitymate 3s forwards;
                /* IE 10+, Fx 29+ */
            }

            .link-login {

                border-radius     : 50%;
                border            : solid 3px #fff;
                padding           : 30px;
                color             : #fff;
                font-size         : 50px;
                background        : #15de97;
                -webkit-box-shadow: 0px 0px 5px 5px #383535;
                box-shadow        : 0px 3px 5px 5px #383535;


            }
        }

        .name-official {
            position        : absolute;
            width           : 90%;
            left            : 5%;
            top             : 30px;
            background-color: #15DE97;
            border-radius   : 20px;
            padding         : 30px;
            margin-top: 70px;

            .cov-ta {
                display: table;
                width  : 100%;


                .logo {
                    display       : table-cell;
                    vertical-align: middle;
                    width         : 20%;

                    .circle {
                        background-color: #fff;
                        border-radius   : 50%;
                        width           : 120px;
                        height          : 120px;
                        margin          : 0 auto;

                        img {
                            border-radius: 50%;
                            width        : 120px;
                            height       : 120px;
                        }
                    }
                }

                .nameoff {
                    display       : table-cell;
                    vertical-align: middle;
                    padding-left  : 30px;
                    width         : 80%;

                    .name {
                        margin     : 0;
                        color      : #FFFFFF;
                        font-family: 'Anuphan_B';
                        font-size  : 54px;
                        text-align : center;
                    }
                }
            }
        }

        .box-img {
            // padding-top: 50px;
            // background: linear-gradient(180deg, rgba(16,144,99,1) 0%, rgba(21,222,151,1) 30%, rgba(16,144,99,1) 80%);
            height: 1920px;

            .img-stream {
                width : 100%;
                height: 100%;
            }
        }


        .result {
            position: absolute;
            bottom  : 0;
            width   : 100%;
            padding : 30px 30px;

            .name-result {
                background-color: #0f66469c;
                padding         : 20px 0;

                .status-process {
                    margin-top     : 0;
                    text-align : center;
                    color      : #FFFFFF;
                    font-family: 'Anuphan';
                    font-size  : 36px;
                }

                .name-user {
                    margin     : 0;
                    text-align : center;
                    color      : #FFFFFF;
                    font-family: 'Anuphan_B';
                    font-size  : 62px;
                }

                .group {
                    margin     : 0;
                    text-align : center;
                    color      : #FFFFFF;
                    font-family: 'Anuphan';
                    font-size  : 24px;
                }
            }

            .list-result {
                margin-left : -15px;
                margin-right: -15px;

                .time {
                    padding: 15px;

                    .box-time {
                        background-color: #0f66469c;
                        padding         : 20px 30px;

                        .cov-ta-time {
                            display: table;

                            .img-result {
                                display       : table-cell;
                                vertical-align: middle;

                                img {
                                    width : 60px;
                                    height: 60px;
                                }
                            }

                            .result-num {
                                display       : table-cell;
                                vertical-align: middle;
                                padding-left  : 10px;

                                .num {
                                    margin     : 0;
                                    font-family: 'Anuphan_B';
                                    font-size  : 48px;
                                    color      : #FFFFFF;
                                }

                                .status-time {
                                    margin     : 0;
                                    font-family: 'Anuphan';
                                    font-size  : 24px;
                                    color      : #FFFFFF;
                                }
                            }
                        }
                    }
                }

                .temperature {
                    padding     : 15px;
                    padding-left: 0;

                    .box-tem {
                        background-color: #0f66469c;
                        padding         : 20px 30px;
                        height          : 100%;

                        .cov-ta-tem {
                            display: table;
                            float  : right;
                            height : 100%;

                            .img-tem {
                                display       : table-cell;
                                vertical-align: middle;
                                padding-left  : 10px;

                                img {
                                    width : 80px;
                                    height: 70px;
                                }
                            }

                            .result-temper {
                                display       : table-cell;
                                vertical-align: middle;

                                .num {
                                    margin     : 0;
                                    font-family: 'Anuphan_B';
                                    font-size  : 48px;
                                    color      : #FFFFFF;
                                }

                                .status-time {
                                    margin     : 0;
                                    font-family: 'Anuphan';
                                    font-size  : 24px;
                                    color      : #FFFFFF;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}