.size-web {
    width        : 1080px;
    height       : 1920px;
    margin       : 0 auto;
    // background: linear-gradient(180deg, rgba(8,32,46,1) 85%, rgba(21,222,151,1) 100%);
    background   : rgba(8, 32, 46, 1);
    background   : -moz-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 32, 46, 1)), color-stop(79%, rgba(8, 32, 46, 1)), color-stop(94%, rgba(14, 96, 76, 1)), color-stop(100%, rgba(16, 121, 88, 1)));
    background   : -webkit-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -o-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -ms-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : linear-gradient(to bottom, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    filter       : progid:DXImageTransform.Microsoft.gradient(startColorstr='#08202e', endColorstr='#107958', GradientType=0);
    position     : relative;


    .cov-menu {
        padding: 50px 150px;

        .hmenu {
            padding-top: 50px;
            position   : relative;

            .icon-back {
                position: absolute;
                bottom  : 10px;
                left    : -50px;

                .link-back {
                    color    : #15DE97;
                    font-size: 50px;

                }
            }

            .hd {
                text-align : center;
                color      : #15DE97;
                font-family: 'Anuphan_B';
                font-size  : 84px;
            }
        }
        .cov-btn-add {
            text-align: right;
            margin-top: 30px;

            .btn-add {
                color           : #FFFFFF;
                font-family     : 'Anuphan';
                font-size       : 36px;
                background-color: #15DE97;
                border-color    : #15DE97;
                opacity         : 1;
                width           : 260px;
                border-radius: 20px;
            }
        }
        .hd-report {
            margin-top: 50px;

            .type-report {
                color      : #15DE97;
                font-size  : 46px;
                margin     : 0;
                font-family: 'Anuphan_M';
                text-align : center;
            }
        }

        .setgroup {
            margin-top: 30px;

            .must-do {
                .txt {
                    margin     : 0;
                    color      : #15DE97;
                    font-size  : 30px;
                    font-family: 'Anuphan';
                }
            }

            .box-list-group {
                margin-top: 50px;

                .bs-example {
                    .accordion {
                        .card {
                            margin-bottom: 30px;
                            border       : 3px solid #15DE97;
                            border-radius: 48px;
                        background-color: transparent;

                            .card-header {
                                padding: 0;
                                .btn {
                                    width: 100%;
                                    text-decoration: none;

                                    

                                    &:focus {
                                        box-shadow: none;
                                    }


                                    .name-status {
                                        padding: 15px 30px;
                                        display: table;
                                        width  : 100%;

                                        .names {
                                            display       : table-cell;
                                            vertical-align: middle;

                                            .txt {
                                                margin     : 0;
                                                color      : #15DE97;
                                                font-size  : 42px;
                                                font-family: 'Anuphan_Se';
                                                text-align: left;
                                            }
                                        }

                                        .img-status {
                                            display       : table-cell;
                                            vertical-align: middle;


                                            .covimg {
                                                display: table;
                                                float  : right;

                                                .sms-img {
                                                    vertical-align: middle;
                                                    display       : table-cell;
                                                }

                                                .email-img {
                                                    padding-left  : 15px;
                                                    display       : table-cell;
                                                    vertical-align: middle;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .collapse {
                                .card-body {
                                    .cov-setting {
                                        margin-top    : 30px;
                                        padding       : 0 30px;
                                        padding-bottom: 15px;

                                        .cov-tasms {
                                            display: table;
                                            width  : 100%;

                                            .txt-sms {
                                                display       : table-cell;
                                                vertical-align: middle;


                                                .txt {
                                                    color      : #FFFFFF;
                                                    font-size  : 40px;
                                                    margin     : 0;
                                                    font-family: 'Anuphan_M';
                                                }
                                            }

                                            .switchset {
                                                .switcho {
                                                    height          : 40px;
                                                    min-width       : 100px;
                                                    background-color: #BEBEBE;
                                                    float           : right;

                                                    &.ant-switch-checked {
                                                        background-color: #15DE97;


                                                        .ant-switch-handle {
                                                            left: calc(100% - 18px - 15px);
                                                        }
                                                    }


                                                    .ant-switch-handle {
                                                        width : 32px;
                                                        height: 32px;
                                                        top   : 5px;


                                                        &::before {
                                                            border-radius: 15px;
                                                        }
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }

                            .collapsing {
                                .card-body {
                                    .cov-setting {
                                        margin-top    : 30px;
                                        padding       : 0 30px;
                                        padding-bottom: 15px;

                                        .cov-tasms {
                                            display: table;
                                            width  : 100%;

                                            .txt-sms {
                                                display       : table-cell;
                                                vertical-align: middle;


                                                .txt {
                                                    color      : #FFFFFF;
                                                    font-size  : 40px;
                                                    margin     : 0;
                                                    font-family: 'Anuphan_M';
                                                }
                                            }

                                            .switchset {
                                                .switcho {
                                                    height          : 40px;
                                                    min-width       : 100px;
                                                    background-color: #BEBEBE;
                                                    float           : right;

                                                    &.ant-switch-checked {
                                                        background-color: #15DE97;


                                                        .ant-switch-handle {
                                                            left: calc(100% - 18px - 15px);
                                                        }
                                                    }


                                                    .ant-switch-handle {
                                                        width : 32px;
                                                        height: 32px;
                                                        top   : 5px;


                                                        &::before {
                                                            border-radius: 15px;
                                                        }
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}