.size-web {
    width        : 1080px;
    height       : 1920px;
    margin       : 0 auto;
    // background: linear-gradient(180deg, rgba(8,32,46,1) 85%, rgba(21,222,151,1) 100%);
    background   : rgba(8, 32, 46, 1);
    background   : -moz-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 32, 46, 1)), color-stop(79%, rgba(8, 32, 46, 1)), color-stop(94%, rgba(14, 96, 76, 1)), color-stop(100%, rgba(16, 121, 88, 1)));
    background   : -webkit-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -o-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -ms-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : linear-gradient(to bottom, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    filter       : progid:DXImageTransform.Microsoft.gradient(startColorstr='#08202e', endColorstr='#107958', GradientType=0);
    position     : relative;


    .cov-menu {
        padding: 50px 150px;

        .hmenu {
            padding-top: 50px;
            position   : relative;

            .icon-back {
                position: absolute;
                bottom  : 10px;
                left    : -50px;

                .link-back {
                    color    : #15DE97;
                    font-size: 50px;

                }
            }

            .hd {
                text-align : center;
                color      : #15DE97;
                font-family: 'Anuphan_B';
                font-size  : 84px;
            }
        }
        .cov-save {
            text-align: right;
            margin-top: 100px;

            .btn-save {
                border       : 3px solid #2BDB9D;
                border-radius: 20px;
                background-color: transparent;
                color: #15DE97;
                font-family: 'Anuphan';
                font-size: 42px;
                margin-top: 50px;
                margin-left: 250px;
                padding: 15px 20px;
                width: 265px;
            }
        }

        .box-display {
            margin-top: 100px;

            .cov-btnaction {
                display      : table;
                width        : 100%;
                margin-bottom: 10px;


                .lbtn {
                    display       : table-cell;
                    vertical-align: middle;

                    .btn-list {
                        width           : 100px;
                        height          : 100px;
                        border          : solid 2px #15DE97;
                        border-radius   : 16px;
                        background-color: transparent;
                        margin-right    : 15px;
                        position        : relative;

                        .icon-plus {
                            position: absolute;
                            top     : -10px;
                            left    : 25px;
                            width   : 50px;
                        }

                        .icon-import {
                            position: absolute;
                            width   : 70px;
                            top     : 20px;
                            left    : 20px;
                        }

                        .icon-select {
                            width   : 60px;
                            position: absolute;
                            top     : 15px;
                            left    : 18px;
                        }
                    }

                }

                .rbtn {
                    display       : table-cell;
                    vertical-align: middle;


                    .btn-list {
                        width           : 120px;
                        height          : 120px;
                        background-color: transparent;
                        position        : relative;
                        float           : right;
                        border          : none;

                        .btn-search{
                            font-size: 60px;
                            color: #15DE97;
                        }


                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .hd-group {
                margin     : 0;
                text-align : center;
                color      : #ffffff7d;
                font-size  : 30px;
                font-family: 'Anuphan_M';
            }

            .slide-member {
                margin-top: 20px;

                .slide-name {
                    .cov-group {
                        padding: 0 10px;
                        margin-right: 20px;

                        .namegroup {
                            .name {
                                
                                color      : #ffffff40;
                                font-size  : 46px;
                                font-family: 'Anuphan_M';
                                text-align : center;
                                position  : relative;
                                width:180px;
                                overflow:hidden;


                            }


                        }

                        &.active {
                            position: relative;

                            &:before {
                                content   : "";
                                width     : 2px;
                                height    : 100%;
                                background: #FFFFFF80;
                                position  : relative;
                                top       : 0px;
                                left      : -10px;
                            }

                            &:after {
                                content   : "";
                                width     : 2px;
                                height    : 100%;
                                background: #FFFFFF80;
                                position  : relative;
                                top       : 0px;
                                right     : - 10px;
                            }

                            .namegroup {
                                
                                .name {
                                    background   : #15de978c;
                                    border-radius: 20px;
                                    color        : #FFFFFF;
                                    position  : relative;
                                  
                                }
                            }

                        }

                    }
                }

            }

            .detail-slide {
                margin-top: 20px;


                .slidebottom {
                    .cov-list-name {
                        .single-line {
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: pre;
                            display: table;
              
                            .cov-checked {
                                display       : table-cell;
                                vertical-align: middle;
                                width         : 12%;

                                .ant-checkbox {

                                    width : 50px;
                                    height: 50px;

                                    &.ant-checkbox-checked {
                                        .ant-checkbox-inner {
                                            background-color: #15DE97;

                                            &::after {
                                                border     : 5px solid #fff;
                                                border-top : 0;
                                                width      : 40%;
                                                height     : 85%;
                                                left       : 15%;
                                                top        : 45%;
                                                border-left: 0;

                                            }
                                        }

                                        &::after {
                                            border: none;
                                        }

                                    }

                                    .ant-checkbox-inner {
                                        width        : 100%;
                                        height       : 100%;
                                        border       : 5px solid #70707066;
                                        border-radius: 16px;


                                    }
                                }
                            }
                            .list-name {
                                background   : #FFFFFF 0% 0% no-repeat padding-box;
                                border-radius: 23px;
                                padding: 10px 20px;
                                margin-bottom: 15px;
                                // margin-left: 4em;
                                
                                .ta-list{
                                    display: table;
                                    width: 100%;
                                    .check{
                                        -ms-transform: scale(3); /* IE */
                                        -moz-transform: scale(3); /* FF */
                                        -webkit-transform: scale(3); /* Safari and Chrome */
                                        -o-transform: scale(3); /* Opera */
                                        transform: scale(3);
                                        display: table-cell;
                                        vertical-align: middle;
                                        padding: 20px;

                                        margin-top: 20px;
                                        text-align: center;
                                        
                                    }
                                    .code{
                                        display: table-cell;
                                        vertical-align: middle;
    
                                        .num{
                                            margin: 0;
                                            font-family: 'Anuphan_M';
                                            font-size: 46px;
                                            color: #08202e82;
                                            text-align: left;
                                            width:50px;
                                        }
                                    }
    
                                    .name{
                                        display: table-cell;
                                        vertical-align: middle;
    
                                        .txt{
                                            margin: 0;
                                            font-family: 'Anuphan_M';
                                            font-size: 46px;
                                            color: #08202E;
                                            text-align: left;
                                            width:150px;
                                        }
                                    }
                                    .group{
                                        display: table-cell;
                                        vertical-align: middle;
                                        // margin-left: 2em;
    
                                        .txt{
                                            margin: 0;
                                            font-family: 'Anuphan_M';
                                            font-size: 46px;
                                            color: #08202e82;
                                            text-align: left;
                                            width:200px;
                                        }
                                    }
                                   
                                    
                                }
                            }
                          }
                       
                    }
                }
            }
        }

    }
}