.size-web {
    width        : 1080px;
    height       : 1920px;
    margin       : 0 auto;
    // background: linear-gradient(180deg, rgba(8,32,46,1) 85%, rgba(21,222,151,1) 100%);
    background   : rgba(8, 32, 46, 1);
    background   : -moz-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 32, 46, 1)), color-stop(79%, rgba(8, 32, 46, 1)), color-stop(94%, rgba(14, 96, 76, 1)), color-stop(100%, rgba(16, 121, 88, 1)));
    background   : -webkit-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -o-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : -ms-linear-gradient(top, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    background   : linear-gradient(to bottom, rgba(8, 32, 46, 1) 0%, rgba(8, 32, 46, 1) 79%, rgba(14, 96, 76, 1) 94%, rgba(16, 121, 88, 1) 100%);
    filter       : progid:DXImageTransform.Microsoft.gradient(startColorstr='#08202e', endColorstr='#107958', GradientType=0);
    position     : relative;


    .cov-menu {
        padding: 50px 150px;

        .hmenu {
            padding-top: 50px;
            position   : relative;

            .icon-back {
                position: absolute;
                bottom  : 10px;
                left    : -50px;

                .link-back {
                    color    : #15DE97;
                    font-size: 50px;

                }
            }

            .hd {
                text-align : center;
                color      : #15DE97;
                font-family: 'Anuphan_B';
                font-size  : 84px;
            }
        }

        .cov-save {
            text-align: right;
            display       : table-cell;
            vertical-align: middle;
            
            .btn-save {
                border       : 3px solid #2BDB9D;
                border-radius: 20px;
                background-color: transparent;
                color: #15DE97;
                font-family: 'Anuphan';
                font-size: 42px;
                padding: 15px 20px;
                width: 265px;
            }
        }

        .boxset {
            padding-top: 80px;
            &.topbox{
                padding-bottom: 80px;
                border-bottom: solid 3px #15DE97;
            }

            .cov-ta {
                display: table;
                width  : 100%;
                margin-bottom: 30px;

                .txth {
                    display       : table-cell;
                    vertical-align: middle;

                    .txt {
                        margin     : 0;
                        color      : #15DE97;
                        font-family: 'Anuphan';
                        font-size  : 46px;
                    }
                }

                .btnac {
                    display       : table-cell;
                    vertical-align: middle;

                    .btn-check {
                        border       : 3px solid #15DE97;
                        border-radius: 20px;
                        background: transparent;
                        width: 265px;
                        height: 80px;
                        float: right;
                        color: #15DE97;
                        font-family: 'Anuphan';
                        font-size: 36px;
                    }
                    .lastup{
                        color: #FFFFFF;
                        margin: 0;
                        float: right;
                        font-family: 'Anuphan';
                        font-size: 35px;

                    }

                    .switcho{
                        height: 40px;
                        min-width: 100px;
                        background-color: #BEBEBE;
                        float: right;

                        &.ant-switch-checked{
                            background-color: #15DE97;


                            .ant-switch-handle{
                                left: calc(100% - 18px - 15px);
                            }
                        }


                        .ant-switch-handle{
                            width: 32px;
                            height: 32px;
                            top: 5px;
                            

                            &::before{
                                border-radius: 15px;
                            }
                        }
                    }
                }
            }

        }
    }
}